doctype html
html
  include /../../static/assets/lib/bootstrap.ldui/main/index.pug
  head
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
  body
    h1 hi
    +script("assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("assets/lib/ldview/main/ldview.min.js")
